<!DOCTYPE html>
<html>
  <head>
    <title>UserSongs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>

    <%= include_gon %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">Song List</a>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, {method: :delete, class: "right"} %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "right" %>
        <%= link_to "Register", new_user_registration_path, class: "right" %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
